<?php use yii\helpers\Html;use yii\widgets\LinkPager;?>

									<div class="col-xs-12">
										<div class="table-responsive">
											<table id="sample-table-1" class="table table-striped table-bordered table-hover">
												<thead>
													<tr>
														<th class="center">
															<label>
																<input type="checkbox" class="ace" />
																<span class="lbl"></span>
															</label>
														</th>
														<th>用户</th>
														<th>合同标题</th>
														<th class="hidden-480">创建时间</th>

														<th>
															<i class="icon-time bigger-110 hidden-480"></i>
															生效时间
														</th>
														<th class="hidden-480">用户类型</th>
														<th class="hidden-300">合同状态</th>
														<th>操作</th>
													</tr>
												</thead>

												<tbody id="tbody">
												<?php foreach ($conlist as $val) { ?>
														<tr>
														<td class="center">
															<label>
																<input type="checkbox" class="aces" conid="<?=$val['con_id']?>"/>
																<span class="lbl"></span>
															</label>
														</td>
												
														<td>
															<a href="#"><?=$val['users']['user_name']?></a>
														</td>
														<td><?=$val['con_title']?></td>
														<td class="hidden-480"><?=date("Y-m-d H:i:s",$val['con_addtime'])?></td>
														<td><?=date("Y-m-d",$val['con_effecttime'])."--".date("Y-m-d",$val['con_endtime'])?></td>
												
														<td class="hidden-480">
															
																<?php if($val['con_type']==0){?>
																<span class="label label-sm label-warning">个人</span>
																<?php }elseif($val['con_type']==1){?>
																<span class="label label-sm label-warning">公司</span>
																<?php }elseif($val['con_type']==2){?>
																<span class="label label-sm label-warning">政府机关</span>
																<?php }?>
														</td>
														<td>
															<?php if($val['con_status']==0){?>
																待审
																<?php }elseif($val['con_status']==1){?>
																审核中
																<?php }elseif($val['con_status']==2){?>
																以生效
																<?php }?>
															</td>
														
														<td>
															<div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
																
												
																<button class="btn btn-xs btn-info" conid="<?=$val['con_id']?>">
																	<i class="icon-edit bigger-120"></i>
																</button>
												
																<button class="btn btn-xs btn-danger" conid="<?=$val['con_id']?>">
																	<i class="icon-trash bigger-120"></i>
																</button>
												
																
															</div>
												
															<div class="visible-xs visible-sm hidden-md hidden-lg">
																<div class="inline position-relative">
																	<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown">
																		<i class="icon-cog icon-only bigger-110"></i>
																	</button>
												
																	<ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
																		<li>
																			<a href="#" class="tooltip-info" data-rel="tooltip" title="View">
																				<span class="blue">
																					<i class="icon-zoom-in bigger-120"></i>
																				</span>
																			</a>
																		</li>
												
																		<li>
																			<a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
																				<span class="green">
																					<i class="icon-edit bigger-120"></i>
																				</span>
																			</a>
																		</li>
												
																		<li>
																			<a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
																				<span class="red">
																					<i class="icon-trash bigger-120"></i>
																				</span>
																			</a>
																		</li>
																	</ul>
																</div>
															</div>
														</td>
													</tr>
											<?php	} ?>	
												</tbody>

											</table>
											<div> <center>		
											<?php 
											
												// 显示分页
													$page=LinkPager::widget([
													    'pagination' => $pages,
													]);
												echo str_replace("href","ajaxhref",$page);
													?>
													</center>	
													</div>
										</div><!-- /.table-responsive -->
									</div><!-- /span -->
								