<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>北京租房_北京租房网_北京租房信息|价格|网站【自如网】</title>
    <meta name="keywords" content="北京租房,北京租房网,北京租房信息,北京租房价格,北京租房信息网,北京租房网站">
    <meta name="description" content="高品质北京租房品牌“自如”，旗下“自如友家”“自如寓”两大产品，数万间公寓。自如承诺：3天不满意全额退款！信仰生活的人，迟早与自如相遇！自如是最高品质的北京租房信息|价格|网站。">
    <meta http-equiv="cache-control" content="no-cache, must-revalidate">
    <meta content="width=1200, initial-scale=1, maximum-scale=1, user-scalable=1" name="viewport">
    <link rel="stylesheet" type="text/css" href="forget02_files/common.css">
    <script type="text/javascript" src="forget02_files/jquery.js"></script>
    <script type="text/javascript" src="forget02_files/z-common.js"></script>

    <link rel="stylesheet" type="text/css" href="forget02_files/zoneStyle.css">
    <style>
        .mainRight.s-m-box{
            float: none;
            margin: 50px auto;
        }
    </style>
</head>
<body>

<!-- 弹出层 -->

<div id="M_layer_box" style="display:none"></div>
<div class="mainRight s-m-box">

    <div class="title">忘记密码</div>

    <div class="w740">

        <div class="step step4 clearfix">
            <ul class="clearfix">
                <li class="active"><span>1</span><p>验证身份</p><b></b></li>
                <li class="active"><span>2</span><p>重置密码</p><b></b></li>
                <li><span>3</span><p>完成</p><b></b></li>
            </ul>
        </div><!--/step-->

        <div class="tableForm">
             <table>
              <tbody><tr>
                <td width="90">设置密码</td>
                <td width="500">
                  <input class="ui_inp ui_inp_big" placeholder="设置您的登录密码" id="J-m-pass" type="password">
                </td>
              </tr>
              <tr>
                <td>验证密码</td>
                <td width="185">
                  <input class="ui_inp ui_inp_big" placeholder="再次输入您的登录密码" id="J-m-pass2" type="password">
                </td>
                
              </tr>
              
              <tr>
                <td></td>
                <td>
                  <input value="确定" class="ui_btn disabled ui_org_btn" id="J-m-submit" type="button">
                </td>
              </tr>
            </tbody></table>
          </div>


        </div><!--/w640-->


    </div><!--/w640-->

<!--/mainRight-->


<script>
    (function(){
  var pass1=$('#J-m-pass');
  var pass2=$('#J-m-pass2');

  var oSub=$('#J-m-submit');

  var sTmp1=window.location.href.split('&')[1];
  var sTmp2=window.location.href.split('&')[2];

  var vid=sTmp1.split('=')[1];
  var userType=sTmp2.split('=')[0];
  var uservalue=sTmp2.split('=')[1];


  var json=null;


  pass1.keydown(function(ev){
    if(ev.keyCode==32){
        ev.preventDefault();
        return false;
      }
  });

  pass2.keydown(function(ev){
    if(ev.keyCode==32){
        ev.preventDefault();
        return false;
      }
  });

  pass2.keyup(function(){

      if(this.value.length>=6&&this.value.length<=16&&this.value==pass1.val()){
          oSub.removeClass('disabled');
          oSub[0].onclick=function(){

            if(userType=='phone'){
              json={"password":pass2.val(),"vid":vid,"phone":uservalue};
            }
            else{
              json={"password":pass2.val(),"vid":vid,"email":uservalue};
            }

            $.ajax({
              url:'/api/index.php?r=user/reset-password',
              type:'POST',
              data:json,
              dataType:'json',
              success:function(data){
                  if(data.code=='20000'){
                // console.log(data);
                    window.location='/index.php?r=user/forget-password-complete';
                  }else{
                    mLayerMsg(data.message);
                  }
              }
            });
          };
      }
      else{
          oSub.addClass('disabled');
          oSub[0].onclick=null;
      }
  });
})();
</script>


























</body></html>