<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>北京租房_北京租房网_北京租房信息|价格|网站【自如网】</title>
    <meta name="keywords" content="北京租房,北京租房网,北京租房信息,北京租房价格,北京租房信息网,北京租房网站">
    <meta name="description" content="高品质北京租房品牌“自如”，旗下“自如友家”“自如寓”两大产品，数万间公寓。自如承诺：3天不满意全额退款！信仰生活的人，迟早与自如相遇！自如是最高品质的北京租房信息|价格|网站。">
    <meta http-equiv="cache-control" content="no-cache, must-revalidate">
    <meta content="width=1200, initial-scale=1, maximum-scale=1, user-scalable=1" name="viewport">
    <link rel="stylesheet" type="text/css" href="forget03_files/common.css">
    <script type="text/javascript" src="forget03_files/jquery.js"></script>
    <script type="text/javascript" src="forget03_files/z-common.js"></script>

    <link rel="stylesheet" type="text/css" href="forget03_files/zoneStyle.css">
    <style>
        .mainRight.s-m-box{
            float: none;
            margin: 50px auto;
        }
    </style>
</head>
<body>
<div class="mainRight s-m-box">

    <div class="title">忘记密码</div>

    <div class="w740">

        <div class="step step4 clearfix">
            <ul class="clearfix">
                <li class="active"><span>1</span><p>验证身份</p><b></b></li>
                <li class="active"><span>2</span><p>重置密码</p><b></b></li>
                <li class="active"><span>3</span><p>完成</p><b></b></li>
            </ul>
        </div><!--/step-->

        <div class="tableForm">
            <table width="300">
                <tbody><tr>
                    <td width="50"><div class="icon icon_ok"></div></td>
                    <td class="fz16">找回密码完成！！3秒后自动跳转到登录页
                    </td>
                </tr>

            </tbody></table>
        </div>


    </div><!--/w640-->
</div><!--/mainRight-->



<script>
  setTimeout(function(){
  window.location.href="/index.php?r=user/index";
  
  },3000);
</script>

























</body></html>